body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  color: white;
  overflow: hidden;
  /* background-image: url("/img/noisy.png"); */
  /* background-image: url("/img/groovepaper.png"); */
  /* background-image: url("/img/rough-diagonal.png"); */
}

#app {
  /* border: inset 2px hsl(0deg, 0%, 80%); */
  position: relative;
  /* border: 1px solid red; */
  line-height: 0;
}

.overlay {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  line-height: 0;
}

#shadowOverlay {
  box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.9);
}

#textureOverlay {
  /* background-image: url("/img/groovepaper.png"); */
  background-image: url("/img/little-pluses.png");
  opacity: 0.2;
}

canvas {
  display: inline-block;
  line-height: 0;
  background-color: black;
}

#controls {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  line-height: 1em;
  line-height: 1.5em;
}

.control {
  display: flex;
  align-items: center;
}

.controlLabel {
  display: inline-block;
  width: 140px;
}

.control label {
  margin-right: 5px;
}

.control span {
  margin-left: 10px;
}

/* HIDE THE VIDEO */
#videoElement {
  background-color: #666;
  display: none;
  position: absolute;
}
